button {
  outline: none;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}


.FeedbackButtonsBlok {
  float: right;
  margin-top: -20px;
}

.tijd_div{
  padding: 12px 28px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: white;
  margin-bottom: 50px;
}
.tijd_div--modifier{
  max-height: 710px;
  min-height: 0px;
  overflow: auto;
}
.rit_div{
  margin-bottom: 50px;
}
.storingblok{
  padding: 30px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f98147;
}

.storingblok__h4{
  margin-bottom: 0px;
  display: inline-block;
  color: white;
  text-decoration: underline;
  font-size: 1.5em;
}
.storingblok__h4--right{
  float: right;
  text-decoration: none;
}

#submit_knop{
  margin-top: 20px;
}

.tijd_div_topbar{
  width: 100%;
  height: 60px;
  background-color: #3f51b5;
  margin-top: 5%;
}
.tijd_div_topbar__h4{
  margin-bottom: 0px;
  display: inline-block;
  color: white;
  font-size: 1.5em;
  padding: 18px 0  15px 32px;
}

.tijd_div_topbar__h4--orange{
  margin-bottom: 0px;
  display: inline-block;
  color: white;
  font-size: 1.3em;
  padding: 18px 0  15px 32px;
}
.tijd_div_topbar--red{
    background-color: #f44336;
}

.tijd_div_topbar--orange{
    background-color: #ff9800;
}
#meldknop{
  border-radius: 5px;
}
.meldknop__ul{
  list-style-type: none;
  padding: 6px;
}
#storing_enkelblok h2{
    margin-top: 16px;
}
#storing_enkelblok:last-child .hr__storing_enkelblok {
    display: none;
}
.hr__storing_enkelblok{
  margin-bottom: 0;
}
.ritcontainer{
  max-height: 420px;
  min-height: 0;
  margin-top: -20px;
  overflow: auto;
  padding: 1px;
  border-radius: 2px;
}
#panel1c-header .MuiExpansionPanelSummary-content{
  display: block;
}
#forwardarrow{
  width: 30px;
  margin-top: -4px;
  height: 19px;
}
.pointfloaters{
  width: 42%;
  min-height: 90px;
}
.pointfloaters--left{
  float: left;
}
.pointfloaters--right{
  float: right;
  flex: 1 0 46%;
}
.inlineblock{
  display: inline-block;
}
#expansionBox{
  justify-content: space-around;
  padding: 2px;
  margin: 12px 0;
  align-items: initial;
}
#expansionBox button{
  padding: 10px;
  background-color: #3f51b5d9;
  color: white;
  width: 21%;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);

}
.helewidth{
  width: 53%;
}

.red{
  color: red;
}

.green{
  color: green;
}

.darkBlue{
  color: rgb(2, 65, 227);
}

#panel1c-content .MuiExpansionPanelDetails-root{
    flex-flow: row wrap;
    padding: 0px 24px 0px;
}

.klachten--Button {
  padding: 10px;
}

#panel1a-content .MuiExpansionPanelDetails-root {
  padding: 20px;
}



@media screen and (max-width: 600px) {
  #bottomMenu header {
    left: 0;
}
.MuiTab-wrapper {
  font-size: 0.8em
}
div.MuiContainer-root {
  padding-left: 0;
  padding-right: 0;
}
#expansionBox button{
  padding: 15px;
  background-color: #3f51b5d9;
  color: white;
  width: 42%;
  margin: 9px 10px;
}
#expansionBox{
  display: initial
}
}
